body{
    background-image: url("../media/achtergrond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, serif;
}


/* Game Start scherm */

.firstpage{
    display: block;
}

.centerButton{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butStyle{
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    margin: -200px -200px;
    -moz-box-shadow: 1px 1px 4px #1c1b18;
    -webkit-box-shadow: 1px 1px 4px #1c1b18;
    box-shadow: 1px 1px 4px #1c1b18;
    background-color: transparent;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 2px solid #333029;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
}

.butStyle:hover{
    background-color:transparent;
    border: 2px solid #444444;
    padding: 14px 22px;
    margin: -200px -200px;
    font-size: 28px;
}

.imgspelnaam{
    width: 100%;

}

.spelnaam{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    width: 98%;
    margin-bottom: 50px;
    font-size: 22px;
}

.logo{
    width: 15%;
}


/* Game begonnen --------------------------------------------------------------- */

    /* begin info popup */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        top:-100px;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    .Vliegdekmoederschip{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width:300px;
    }
    .Slagship{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width:300px;
    }
    .Kruiser{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width:300px;
    }
    .Onderzeeër{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width:300px;
    }
    .Mijnenveger{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width:300px;
    }
    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #333029;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: #333029;
        color: white;
    }

    .myBtn{
        border: none;
        color: white;
        padding: 12px 12px;
        font-size: 16px;
        cursor: pointer;
        background-color: #333029;
        display: none;
    }

    .myBtn:hover{
        background-color: #444444;
    }

    /* Einde info popup */

.multiSingleBut{
    display: none;
}

.inputVelden{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.centerInput{
    text-align: center;
    padding: 12px 20px;
    margin: -100px -200px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

/* Singleplayer code---------------------------------------------- */

.inputNaam{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputSubmit{
    width: 100%;
    background-color: #333029;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inputSubmit:hover{
    background-color: #444444;
}

.centerspelernaam{
    position: absolute;
    top: 8%;
    left: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: none;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.spelernaam{
    text-align: center;
    padding: 12px 20px;
    margin: -200px -300px;
    -moz-box-shadow: 1px 1px 4px #1c1b18;
    -webkit-box-shadow: 1px 1px 4px #1c1b18;
    box-shadow: 1px 1px 4px #1c1b18;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 2px solid #333029;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #333029;
}

/* Einde Singleplayer code---------------------------------------------- */






@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

.Board{
    display: none;
    margin-top: 50px;
}

#main {
    width: 700px;
    height: 800px;
    margin: auto;

}

.board {
    position: absolute;
    width: 380px;
    height: 740px;
    margin: 25px auto;
    border: 2px solid #73B1B7;
    border-radius: 10px;
}

.displays {
    position: relative;
    margin: 25px;
}

.top {
    width: 330px;
    height: 330px;
    background: #008B8B;
    border-left: 1px solid #8DEEEE;
    border-bottom: 1px solid #8DEEEE;

}

.bottom {
    width: 330px;
    height: 330px;
    margin-top: 25px;
    background: #008B8B;
    border-left: 1px solid #8DEEEE;
    border-bottom: 1px solid #8DEEEE;
}

.grid {
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,0);
    margin-left: 30px;
    font-size: 0;
}

.aTops {
    width: 29px;
    height: 29px;
    border-top: 1px solid #8DEEEE;
    border-right: 1px solid #8DEEEE;
    display: table-cell;
    vertical-align: middle;

    font-weight: bold;
    color: white;
    text-align: center;
}

.aLeft {
    position: relative;
    width: 29px;
    height: 29px;
    border-top: 1px solid #8DEEEE;
    border-right: 1px solid #8DEEEE;
    display: block;
    line-height: 29px;

    font-weight: bold;
    color: white;
    text-align: center;
}

.points {
    position: relative;
    width: 29px;
    height: 29px;
    border-top: 1px solid #8DEEEE;
    border-right: 1px solid #8DEEEE;
    display: inline-block;


}

.highlight {
    background: rgba(144,144,144,0.9);
}

.hidezero {
    color: #008B8B;
}

.hole {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 9px;
    border: 1px solid #8DEEEE;
    border-radius: 50%;
    display: table;
}


.panel {
    float: right;
    width: 275px;
    height: 740px;
    margin-top: 25px;
}

.topPanel {
    width: 275px;
    height: 350px;
    border: 2px solid #73B1B7;
    border-radius: 10px;
    display: inline-block;
}

.bottomPanel {

}

.console {
    position: relative;
    width: 275px;
    height: 350px;
    margin-top: 36px;
    display: block;

    background: rgba(144,144,144,0.6);
    border: 2px solid #73B1B7;
    border-radius: 10px;

    color: green;
}

.text {
    position: relative;
    width: 250px;
    height: 375px;
    margin: 12px;
    display: inline-block;
}

.buttons {
    position: relative;
    display: block;
    width: 150px;
    height: 40px;

    margin: 50px auto;
    border: 2px solid #cccccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    text-align: center;
    line-height: 40px;

    cursor: pointer;
}

.buttons:hover {
    background: rgba(169,169,169,0.3);
}

.target {
    background: rgba(250, 10, 10, 0.7);
}

.carrier {
    background: rgba(36,36,36,1);
}

.battleship {
    background: rgba(49,49,49,0.9);
}

.cruiser {
    background: rgba(64,64,64,0.9);
}

.destroyer {
    background: rgba(81,81,81,0.7);
}

.frigate {
    background: rgba(100,100,100,0.7);
}

.one {

}

.self {
}

.random {

}

.error {

}

.turn {

}

.hit {
    position: relative;
    margin: 1.5px;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;


    background: rgb(220,10,10);
    border: 1px solid red;
    border-radius: 100%;
    overflow: hidden;

    display: table;

    animation-name: expand;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: none;

    -webkit-animation-name: expand;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: none;

    -moz-animation-name: expand;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: none;
}

.miss {
    position: relative;
    margin: 1.5px;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;

    background: rgb(250,250,250);
    border: 1px solid white;
    border-radius: 100%;
    overflow: hidden;

    display: table;

    animation: expand;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: none;

    -webkit-animation: expand;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: none;

    -moz-animation: expand;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: none;

}

@keyframes expand {
    0% {
        width: 0px;
        height: 0px;
        top: 12.5px;
        left: 12.5px;
    }
    50% {
        width: 25px;
        height: 25px;
        top: 0px;
        left: 0px;
    }
    100% {
        width: 15px;
        height: 15px;
        top: 5px;
        left: 5px;
    }
}

@-webkit-keyframes expand {
    0% {
        width: 0px;
        height: 0px;
        top: 12.5px;
        left: 12.5px;
    }
    50% {
        width: 25px;
        height: 25px;
        top: 0px;
        left: 0px;
    }
    100% {
        width: 15px;
        height: 15px;
        top: 5px;
        left: 5px;
    }
}

@-moz-keyframes expand {
    0% {
        width: 0px;
        height: 0px;
        top: 12.5px;
        left: 12.5px;
    }
    50% {
        width: 25px;
        height: 25px;
        top: 0px;
        left: 0px;
    }
    100% {
        width: 15px;
        height: 15px;
        top: 5px;
        left: 5px;
    }
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 20px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}