body{
    background-image: url("../media/achtergrond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, serif;
}


/* Game Start scherm */

.firstpage{
    display: block;
}

.centerButton{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butStyle{
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    margin: -200px -200px;
    -moz-box-shadow: 1px 1px 4px #1c1b18;
    -webkit-box-shadow: 1px 1px 4px #1c1b18;
    box-shadow: 1px 1px 4px #1c1b18;
    background-color: transparent;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 2px solid #333029;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
}

.butStyle:hover{
    background-color:transparent;
    border: 2px solid #444444;
    padding: 14px 22px;
    margin: -200px -200px;
    font-size: 28px;
}

.kaas{
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
}

.imgspelnaam{
    width: 100%;

}

.spelnaam{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    width: 98%;
    margin-bottom: 50px;
    font-size: 22px;
}

.logo{
    width: 15%;
}


/* Game begonnen --------------------------------------------------------------- */

    /* begin info popup */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #333029;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: #333029;
        color: white;
    }

    .myBtn{
        border: none;
        color: white;
        padding: 12px 12px;
        font-size: 16px;
        cursor: pointer;
        background-color: #333029;
        display: none;
    }

    .myBtn:hover{
        background-color: #444444;
    }

    /* Einde info popup */

.multiSingleBut{
    display: none;
}

.inputVelden{
    display: none;
}


/* Singleplayer code---------------------------------------------- */





/* Einde Singleplayer code---------------------------------------------- */
