@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.Title{
    text-align: center;
    position:relative;
}
.GameBoard{
    margin:auto;
    width:650px;
    height:650px;
}
@media screen and (max-width:600px ) {
    .GameBoard{
        width:300px;
        height:300px;
    }
}
body{
    background-image: url("media/achtergrond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, serif;
}

.GameRate{
    position: relative;
    top:30%;
}
@media screen and (max-width:600px ) {
    .GameRate {
        position: relative;
        top:60%;
    }
}
.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}



.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.wrapper{
    position:relative;
    margin:auto;
    width:300px;
    height:100px;
    left:-154px;
    top:650px;
}
#userCmnt{

    width:570px;
    height:100px;
}
@media screen and (max-width:600px ) {
    .wrapper{
        position: relative;
        width:0%;
        top:375px;
    }
    #userCmnt{
        margin:auto;
        width:270px;
    }
}

.container{
    display:flex;
    flex-direction:column;
    position:relative;

}
.row{
    display:flex;
    flex-direction:row;
}
.divcell{
    display:flex;
    flex-direction:row;
    width:50px;
    height:50px;
    border:1px solid black;
    justify-content:center;
    align-items:center;
}
.divcell:nth-child(even){
    background-color:none;
}
.divcell2{
    display:flex;
    flex-direction:row;
    width:50px;
    height:50px;
    border:1px solid black;
    justify-content:center;
    align-items:center;
}
.divcell2:nth-child(odd){
    background-color:none;
}
@media screen and (max-width:600px ) {
    .divcell{
        display:flex;
        flex-direction:row;
        width:25px;
        height:25px;
        border:1px solid black;
        justify-content:center;
        align-items:center;
    }
}
@media screen and (max-width:600px ) {
    .divcell2{
        display:flex;
        flex-direction:row;
        width:25px;
        height:25px;
        border:1px solid black;
        justify-content:center;
        align-items:center;
    }
}